body{
    font-family: sans-serif;
    width: 1200px;
    padding-left: auto;
    padding-right: auto;
}

.header{
    background-color: cadetblue;
}
.section-1{
    background-color: plum;
    display: flex;
    justify-content: space-evenly;  

}

.section-1__servicios{
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify ;
}
.section-1__titulos{
    color: white;
    text-align: center ;
}

.section-1__images{
    padding-left: auto;
    padding-right: auto;
    }